<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/components/amazeui/dist/css/amazeui.min.css">
  <script type="text/javascript" src="/components/coffee-script/extras/coffee-script.js"></script>
  <script type="text/javascript" src="/components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/components/amazeui/dist/js/amazeui.min.js"></script>
  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
</head>
<body>
  <div class="am-modal am-modal-no-btn" tabindex="-1" id="message-modal">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">消息提示
      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
    </div>
    <div class="am-modal-bd" id="message-body">
    </div>
  </div>
</div>
<script type="text/coffeescript">
  getQueryString = (name) ->
    reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
    r = window.location.search.substr(1).match(reg);
    if r?
      return unescape(r[2]);
    else
      return null;
  $ ->
    msg = null
    switch getQueryString('msg')
      when 'SIGNINOK'
        msg = '登录成功'
      when 'SIGNUPOK'
        msg = '注册成功'
      when 'SIGNINERR'
        msg = '登录失败'
      when 'SIGNUPERR'
        msg = '注册失败'
      when 'SELECTDOCTOR'
        msg = '先选择一个个人医生'
      when 'SELECTDOCTOROK'
        msg = '选择医生成功，开始健康之旅吧'
      when 'SENDTALKOK'
        msg = '发送信息成功'
      when 'SENDTALKERR'
        msg = '发送信息失败'
    if msg?
      modal = $('#message-modal')
      $('#message-body').text msg
      modal.modal()
</script>
